div.category-div {
    border: 1px solid black;
    width: 19vw;
    height: 19vw;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.category-img {
    width: 175px;
}

.category-h4 {
    width: 100px;
    text-align: center;
    word-wrap: normal;
}