:root {
  --main-txt-red: rgba(255, 0, 0, 0.649);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(223, 148, 19, 0.615);
}

section {
  margin: 3vh auto;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.772), rgba(0, 0, 0, 0.706));
  height: 80vh;
  width: 70vw;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.852);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3vh;
  font-weight: lighter;
  padding: 2vh 3vw;
  text-align: center;
}

div.right-div {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.461);
  height: 70vh;
  width: 40vw;
  flex-direction: column;
  margin-right: 1vw;
  justify-content: center;
}

div.left-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 70vh;
  width: 40vw;
  margin-left: 1vw;
}

h2 {
  font-family: 'Luckiest Guy';
  font-size: 4.5vh;
  font-weight: lighter;
  padding: 3vh 0 0 3vw;
}

h3 {
  font-family: 'Luckiest Guy';
  font-size: 3.5vh;
  letter-spacing: .3vw;
  padding: 2.5vh 2.25vw;
  color: var(--main-txt-red);
  text-shadow: 2px 2px 2px black;  font-weight: bold;
  text-align: center;
}

h3:hover {
  font-size: 4vh;
}

img.random-img {
  height: 40vh;
  /* border-radius: 10px; */
  margin: 0 3vw;
}



div.categories-container, div.dish-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid black;
}


.App {
  text-align: center;
}

div.hourglass-div {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.hourglass {
  height: 15vmin;
  pointer-events: none;
  margin: 25vh auto;
}

@media (prefers-reduced-motion: no-preference) {
  .hourglass {
    animation: hourglass-spin infinite 5s linear;
  }
}

@keyframes hourglass-spin {
  from {
    transform: rotate3d(0);
  }
  to {
    transform: rotate3d(1, 0, 0, 360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
