@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


ul.navbar {
    margin: 5vh auto;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.772), rgba(0, 0, 0, 0.706));
    height: 8vh;
    width: 70vw;
    align-items: center;
    box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.852);
    /* border-radius: 20px; */
}
  
.navbar li {
    margin-right: 7vh;
    font-size: 4vh;
    font-family: 'Luckiest Guy', cursive;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--main-txt-red);
    text-shadow: 2px 2px 2px black;
}

li.navbar span {
    margin-bottom: -2vh;
}

.navbar > img {
    height: 5vh;
}

